build/
**/build/
.vscode/
.xmake/
**/.xmake/
**/.gradle/
.gradle/
**/.idea/
**/local.properties
vs2015/
swig/
ImiMessage/pb/
**/.cxx/
**/*.iml
vs2019/
out/
vsxmake2015/
MrAgent/java_lang/android/app/libs/